@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<video id="video" preload="auto" controls>
    <source src="../api/VideoStream" typeof="video/mp4"/>
    @*<source src="https://www.w3schools.com/Tags/mov_bbb.mp4" typeof="video/mp4"/>*@
</video>